PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:NewStrongPass123@localhost:5432/ratePerWork?schema=public"
DIRECT_URL="postgresql://postgres:NewStrongPass123@localhost:5432/ratePerWork?schema=public"
JWT_SECRET=RPWBE_2026_MANAGER_AUTH_SUPER_SECRET_8f9c2a1d7e4b6c5f

